/* Responsive styles */
@media (max-width: 768px) {
    .form-group.col-md-6.d-flex.mb-2 {
        flex-basis: 100%;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .bold-label {
        font-weight: bold;
    }

    .car {
        float: none;
        margin-bottom: 20px;
    }
}